---
import { baseURL } from "../../config";
---

<div class="content-row  py-14">
  <div class="content-container flex flex-wrap gap-6 justify-center lg:grid grid-cols-9 auto-rows-[55px] max-w-[850px] mx-auto">

    <div class="w-[275px] col-start-1 col-end-4 row-start-3 row-end-9">
      <img src=`${baseURL}/img/home/animacoes/dados-enriquecidos.webp` alt="Dados enriquecidos">
    </div>

    <div class="w-[275px] col-start-4 col-end-7 row-start-5 row-end-11">
      <img src=`${baseURL}/img/home/animacoes/processamento-dados.webp` alt="Processamento de dados" class="transform lg:-translate-y-7">
    </div>    

    <div class="w-[275px] col-start-7 col-end-10 row-start-1 row-end-7 z-10">
      <img src=`${baseURL}/img/home/animacoes/cruzamento-informacoes.webp` alt="Cruzamento de informações">
    </div>        

  </div>
</div>

