---
import { baseURL } from "../../config";
---

<div class="content-row  text-black py-10">

  <div class="text-nowrap overflow-hidden flex relative select-none gap-5">
    <div class="flex flex-shrink-0 min-w-full justify-around scrollMarquee">
      <p class="text-5xl text-center text-highlight-on-light font-light">//: &#123; Geramos Informações para o Bem :)  <span>//: &#123; Geramos Informações para o Bem :)</span>  Geramos Informações para o Bem :) </p>
    </div>
    <div class="flex flex-shrink-0 min-w-full justify-around scrollMarquee">
        <p class="text-5xl text-center text-highlight-on-light font-light"><span>//: &#123; Geramos Informações para o Bem :)</span>  //: &#123; Geramos Informações para o Bem :)  Geramos Informações para o Bem :) </p>
    </div>
  </div>

  <div class="content-container mt-4 px-5">
    <div class="image-wrapper relative">
      <img src=`${baseURL}/img/home/geracao-informacao/geracao-informacao.png` alt="">
      <img src=`${baseURL}/img/home/geracao-informacao/geracao-informacao-overlay.png` alt="" class="absolute inset-[50%] -translate-x-1/2 -translate-y-1/2">
    </div>
  </div>
  
</div>


