    <div class="content-row novidades text-black py-20">
      <div class="content-container lg:grid grid-cols-12 h-full">
        <div class="col-span-3 flex flex-col">
          <small class="flex items-center gap-2 text-neutral mb-6 text-base">Sobre <i class="icon-curved-arrow relative top-1"></i></small>
          <p>Geramos valor na conexão entre dados e tecnologia de ponta</p>
          <a href="#" class="mt-10 lg:mt-auto pb-6 border-b border-black btn-outlined flex justify-between items-center">Conheça mais <i class="icon-arrow-up-angled text-[14px]"></i></a>
        </div>
        <div class="col-span-6 col-start-7 flex items-center mt-12 lg:mt-0">
          <p class="section-highlight-title text-highlight-on-light">Nossa missão é usar Big Data e Analytics avançados para fornecer informações de alta qualidade, ajudando empresas a identificar, aproximar e conquistar novos clientes.</p>
        </div>
      </div>
    </div>