---
import { baseURL } from "../../config";
---

<div class="content-row  text-black py-10">
  <div class="content-container mt-4 px-5">
    <img src=`${baseURL}/img/home/transicao/transicao.png` alt="">
  </div>
</div>